@import '@fontsource/fira-mono';
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../lib/fonts/Pretendard-Bold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../lib/fonts/Pretendard-Medium.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../lib/fonts/Pretendard-Regular.subset.woff) format('woff');
}

body {
	background-color: black;
	color: white;
	margin: 0 auto;
	overflow: auto;
}

.hrLine {
	display: flex;
}
.flexLineContainer{
	display: flex;
	width: 100%;
}
.iconStyle {
	width: 26px;
	height: 26px;
}
.SmallIconStyle {
	width: 24px;
	height: 24px;
}
.bouncy {
	position: absolute;
	width: 100%;
	display: flex;
	bottom: 40px;
	align-items: center;
	z-index: 4;
	flex-flow: column;
	opacity: 0.5;
	animation: bounce 2s ease-in-out infinite;
}
.bouncy > p {
	margin:0;
	font-weight: 700;
	font-size: 10px;
}
.nameTagBox {
	width: 100%;
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}
.profileImage {
	width: 120px;
	height: 120px;
	border-radius: 200px;
	background-color: gray;
}
.profileBox {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}
.profileBox > .name {
	font-size: 36px;
	font-weight: 900;
	margin:0;
}
.profileBox > .birthday {
	font-size: 14px;
	width: 100%;
	margin:0;
	color:#999999;
}
.profileBox > .comment {
	font-size: 16px;
	width: 100%;
	margin: 6px 0 0;
}
.contactBox {
	width: 100%;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	margin-top:24px;
}
.contactBox > p {
	width: 100%;
	margin:0;
	font-size: 24px;
	font-weight: 700;
}
.skillBox {
	width: 100%;
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
	margin-top:24px;
}
.careerBox {
	width: 100%;
}
.careerCompanyName {
	width: 100%;
	font-size: 21px;
	font-weight: 700;
	margin: 0;
}
.careerCompanyDetail {
	color:#999999;
	margin:5px 0 5px 0;
}
.careerCompanyDate {
	color:#999999;
	margin:0;
	font-size: 12px;
}
.projectBox {
	width: 100%;
	display: flex;
	gap: 24px;
}
.projectContentBox {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
}
.projectName {
	width: 100%;
	font-weight: 700;
	font-size: 24px;
}
.projectStack {
	display: flex;
	gap:5px;
	width: 100%;
	flex-wrap:wrap;
}
.projectDesc {
	margin:10px 0 10px 0;
	width: 100%;
	white-space: pre-wrap;
}
.projectLinkTitle {
	width: 100%;
	font-weight: 700;
	font-size: 18px;
}
.title {
	display: flex;
	width: 100%;
	align-items: center;
	gap:18px
}
.smallTitle {
	display: flex;
	width: 100%;
	align-items: center;
	gap:6px
}
.smallTitle > p {
	font-size: 16px;
	margin:0;
}
.title-tile-1 {
	display: flex;
	width: 42px;
	height: 42px;
	background-color: #FFE53B;background-image: linear-gradient(220deg, rgb(201 190 120) 0%, rgb(235 117 117) 74%);
	transition: width 0.5s ease-in-out;
}
.title-small-title {
	display: flex;
	width: 24px;
	height: 24px;
	background-color: #FFE53B;background-image: linear-gradient(220deg, rgb(201 190 120) 0%, rgb(235 117 117) 74%);
	transition: width 0.5s ease-in-out;
}
.title-tile-action {
	width: 126px;
}
.title > h1 {
	margin: 0;
}
.stackIcon {
	width: 1.5em;
	height: 1.5em;
	transition: all 0.5s;
}
.blockSubTitle{
	font-family: 'Pretendard', serif;
	font-weight: 700;
	width: 100%;
}
.projectImage {
	display: flex;
	justify-content: center;
}
.projectImage > div {
	width: 300px;
	height: 300px;
	min-width: 300px;
	display: flex;
	justify-content: center;
}
.projectImage > div > img {
	width: 80%;
	height: 80%;
	object-fit: contain;
}
.projectLink {
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	gap:8px;
}
.projectLink > a {
	display: flex;
	text-decoration-line: none;
}
.projectLink > a > div {
	color: black;
	display: flex;
	align-items: center;
	gap:5px;
	padding: 3px 12px 3px 6px;
	background: white;
	border-radius: 5px;
	font-weight: 500;
}
.titleTypo {
	font-size: 42px;
	font-weight: 900;
	margin:0;
}
.backgroundBlackScreen {
	background-color: rgba(0,0,0,0.75);
	width: 100%;
	height: 100%;
	z-index: 3;
	position:fixed;
}

@media (max-width: 1024px) {
	.projectBox {
		flex-wrap: wrap;
	}
	.projectContentBox {
		width: 100%;
	}
	.projectName {
		margin-top:0;
	}
	.projectImage{
		width: 100%;
	}
	.projectImage > div {
		width: 200px;
		height: 200px;
		min-width: 200px;
		margin-top:20px;
	}
}

@keyframes flyIn {
	0% {
		transform: translateX(500px); /* 시작 위치를 왼쪽으로 100픽셀 이동 */
		opacity: 0; /* 시작 투명도를 0으로 설정 */
	}
	100% {
		transform: translateX(0); /* 최종 위치를 원래 위치로 설정 */
		opacity: 1; /* 최종 투명도를 1로 설정 */
	}
}

@keyframes bounce {
	0% {
		bottom:40px;
	}
	50% {
		bottom:20px;
	}
	100% {
		bottom:40px;
	}
}